<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524365307124-ofclt0va84j3qpkom91jv60d8u1h3q48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524365307124-ofclt0va84j3qpkom91jv60d8u1h3q48</string>
	<key>API_KEY</key>
	<string>AIzaSyDzkRzmRtrJWb4y7HbeSw1aW7MNObb1S1w</string>
	<key>GCM_SENDER_ID</key>
	<string>524365307124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joon.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-d54c8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-d54c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524365307124:ios:00ec43d7be301737a012a1</string>
</dict>
</plist>